In [33]:
import pandas as pd


df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [35]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [36]:
nan_matrix = df.isnull()
nan_matrix.sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [37]:
df["Age"] = df["Age"].fillna(df["Age"].mode()[0])
df["Cabin"] = df["Cabin"].fillna("Unknown")
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

In [38]:
nan_matrix = df.isnull()
nan_matrix.sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [39]:
from sklearn.preprocessing import StandardScaler

a = ["Age", "Fare", "SibSp", "Parch"]
df[a] = StandardScaler().fit_transform(df[a])

print(df[a].describe())

                Age          Fare         SibSp         Parch
count  8.910000e+02  8.910000e+02  8.910000e+02  8.910000e+02
mean   5.980999e-17  3.987333e-18  4.386066e-17  5.382900e-17
std    1.000562e+00  1.000562e+00  1.000562e+00  1.000562e+00
min   -2.133613e+00 -6.484217e-01 -4.745452e-01 -4.736736e-01
25%   -4.977933e-01 -4.891482e-01 -4.745452e-01 -4.736736e-01
50%   -3.461881e-01 -3.573909e-01 -4.745452e-01 -4.736736e-01
75%    4.876403e-01 -2.424635e-02  4.327934e-01 -4.736736e-01
max    3.898757e+00  9.667167e+00  6.784163e+00  6.974147e+00

In [40]:
c_c = df.select_dtypes(include = ['object']).columns

one_cols = ["Sex", "Embarked", "Cabin"]
drop = ["Name", "Ticket"]

df["Cabin"] = df["Cabin"].str[0]
df["Cabin"] = df["Cabin"].fillna('Unknown')

df = pd.get_dummies(df, columns = one_cols , drop_first = True, prefix = one_cols)

df.drop(drop, axis = 1, inplace = True, errors = 'ignore')

df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U
0,1,0,3,-0.497793,0.432793,-0.473674,-0.502445,True,False,True,False,False,False,False,False,False,False,True
1,2,1,1,0.715048,0.432793,-0.473674,0.786845,False,False,False,False,True,False,False,False,False,False,False
2,3,1,3,-0.194583,-0.474545,-0.473674,-0.488854,False,False,True,False,False,False,False,False,False,False,True
3,4,1,1,0.487640,0.432793,-0.473674,0.420730,False,False,True,False,True,False,False,False,False,False,False
4,5,0,3,0.487640,-0.474545,-0.473674,-0.486337,True,False,True,False,False,False,False,False,False,False,True

In [41]:
df.head(20)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U
0,1,0,3,-0.497793,0.432793,-0.473674,-0.502445,True,False,True,False,False,False,False,False,False,False,True
1,2,1,1,0.715048,0.432793,-0.473674,0.786845,False,False,False,False,True,False,False,False,False,False,False
2,3,1,3,-0.194583,-0.474545,-0.473674,-0.488854,False,False,True,False,False,False,False,False,False,False,True
3,4,1,1,0.487640,0.432793,-0.473674,0.420730,False,False,True,False,True,False,False,False,False,False,False
4,5,0,3,0.487640,-0.474545,-0.473674,-0.486337,True,False,True,False,False,False,False,False,False,False,True
5,6,0,3,-0.346188,-0.474545,-0.473674,-0.478116,True,True,False,False,False,False,False,False,False,False,True
6,7,0,1,1.927889,-0.474545,-0.473674,0.395814,True,False,True,False,False,False,True,False,False,False,False
7,8,0,3,-2.013845,2.247470,0.767630,-0.224083,True,False,True,False,False,False,False,False,False,False,True
8,9,1,3,-0.118780,-0.474545,2.008933,-0.424256,False,False,True,False,False,False,False,False,False,False,True
9,10,1,2,-1.104214,0.432793,-0.473674,-0.042956,False,False,False,False,False,False,False,False,False,False,True
10,11,1,3,-1.862240,0.432793,0.767630,-0.312172,False,False,True,False,False,False,False,False,True,False,False
11,12,1,1,2.231100,-0.474545,-0.473674,-0.113846,False,False,True,False,True,False,False,False,False,False,False
12,13,0,3,-0.649398,-0.474545,-0.473674,-0.486337,True,False,True,False,False,False,False,False,False,False,True
13,14,0,3,0.790851,0.432793,5.732844,-0.018709,True,False,True,False,False,False,False,False,False,False,True
14,15,0,3,-1.104214,-0.474545,-0.473674,-0.490280,False,False,True,False,False,False,False,False,False,False,True
15,16,1,2,2.003692,-0.474545,-0.473674,-0.326267,False,False,True,False,False,False,False,False,False,False,True
16,17,0,3,-2.013845,3.154809,0.767630,-0.061999,True,True,False,False,False,False,False,False,False,False,True
17,18,1,2,-0.346188,-0.474545,-0.473674,-0.386671,True,False,True,False,False,False,False,False,False,False,True
18,19,0,3,0.184430,0.432793,-0.473674,-0.285997,False,False,True,False,False,False,False,False,False,False,True
19,20,1,3,-0.346188,-0.474545,-0.473674,-0.502949,False,False,False,False,False,False,False,False,False,False,True

In [42]:
df.to_csv("processed_titanic.csv", index = False)